body {
    margin: 0;  
}
header {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background: #4470b1;
    color: #fff;
}
.site-title {
    font-size: 1.3rem;
}
.container {
    padding: 0 20px;
}
.article-item {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.article-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}
footer {
    padding: 20px;
    text-align: center;
    font-size: .9rem;
    color: #777;
}

ul.alert {
    padding: 15px 15px 15px 40px;
    border-radius: 4px;
    background: #f8d6d9;
    color: #721c24;
}

.article-info {
    font-size: .8rem;
    color: #777;
}
.article-body {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
}

.article-control {
    display: flex;
    justify-content: space-between;
}